body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: #f5f5f5;
}

.navbar {
  margin: 0;
  background-color: #3498db;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  margin-left: 3rem;
  margin-right: 3rem;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
}

.signout {
  color: black;
}

#add-new-pto-heading {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #3498db;
  margin: 0;
}

#ptoForm {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 70%;
  max-height: 90%;
  padding: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.choose-employee {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  margin: 1rem;
}

#employeeDropdown {
  margin-top: 10px;
  width: 70%;
  height: 25%;
  font-size: 1em;
  padding: auto;
  text-align: center;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}

.calendars {
  width: 100%;
  max-height: 37%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.h4-date {
  text-align: center;
  margin-top: 3px;
  margin-bottom: 7px;
}

.date-picker {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  cursor: pointer;
  width: 70%;
  margin: 1rem 0.5rem;
  border: 1px solid black;
  justify-self: center;
}

.date-picker .selected-date {
  width: 100%;
  height: 15%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #313131;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.date-picker .dates {
  width: 100%;
  height: 100%;
}

.date-picker .dates .month {
  display: flex;
  min-height: 40px;
  justify-content: space-between;
  align-items: center;
}

.date-picker .dates .month .arrows {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #313131;
  font-size: 14px;
}

.date-picker .dates .month .arrows:hover {
  background-color: #f3f3f3;
}

.date-picker .dates .month .arrows:active {
  background-color: #00ca85;
}

.date-picker .dates .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 150px;
  width: 100%;
}

.date-picker .dates .days .day {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #313131;
  font-size: 1rem;
  box-sizing: border-box;
}

.today {
  background-color: lightgray;
  border-radius: 3px;
}

.selected {
  background-color: #3498db;
  border-radius: 3px;
}

.days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 20px;
  border-bottom: 1px solid #eee;
}

.day-of-week {
  width: 42px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.button-submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

#addDataBtn {
  margin-top: 5px;
  height: 40px;
  width: 150px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#addDataBtn:hover {
  background-color: #2980b9;
}

.employeesDiv {
  border-left: 1px solid black;
}

.employee-item {
  background-color: #2980b9;
  padding: 1em 2em;
}

.navbar {
  background-color: #3498db;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media only screen and (max-width: 950px) {

  body {
    margin:0;
    padding: 0;
  }
  .navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  a {
    margin: 1rem 0;
  }

  #ptoForm {
    min-width: 80%;
  }

  .choose-employee {
    width: 80%;
  }

  #employeeDropdown {
    width: 90%;
  }

  .calendars {
    grid-template-columns: 1fr;
  }

  .date-picker {
    width: 90%;
  }

  .employeesDiv {
    flex-direction: column;
  }

  .employee-item {
    width: 90%;
  }
}