h2 {
  text-align: center;
}

#employeesDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.employee-item {
  background-color: #2980b9;
  padding: 1em 2em;
}

.employee-item {
  height: 30%;
  display: flex;
  width: 25%;
  flex-direction: column;
  margin: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.name {
  width: 100%;
  min-height: 10%;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid black;
  margin: 0;
  padding-top: 10px;
}

.pto-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ptoData {
  height: 125px;
  background-size: cover;
  text-align: center;
  border-radius: 5px;
  margin: 5px 0;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-button {
  width: 40%;
}

.date-range {
  background-color: white;
  padding: 5px 10px;
  border-radius: 4px;
}

@media only screen and (max-width: 800px) {
  #employeesDiv {
    flex-direction: column;
    align-items: center;
  }

  .employee-item {
    width: 50%;
  }
  .name {
    font-size: 15px;
  }

  .email,
  .address,
  .phone,
  .company {
    font-size: 13px;
  }

  .ptoData {
    font-size: 15px;
    justify-content: space-evenly;
  }

  .date-range {
    font-size: 13px;
    width: 70%;
  }

  .delete-button {
    width: 70%;
    height: 20%;
    font-size: 10px;
  }
}

.delete-button {
  background-color: #e7f3fb;
  padding: 0.3rem;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #cad5dc;
}
