h2 {
  text-align: center;
}

#employeesDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.employee-item {
  height: 30%;
  display: flex;
  width: 25%;
  flex-direction: column;
  margin: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.name {
  width: 100%;
  min-height: 10%;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  background-color: #3498db;
  color: white;
  border-radius: 10px;
  margin: 0;
  padding-top: 10px;
}

/* .address,
.email,
.company,
.website,
.phone {
  padding: 0 10px;
} */

.userId {display: none;}

.ptoData {
  /* background-color: forestgreen; */
}

.pto-container {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
}

.past-ptos {
  background-color: hotpink;
}