h2 {
  text-align: center;
}

#employeesDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.employee-item {
  height: 30%;
  display: flex;
  width: 25%;
  flex-direction: column;
  margin: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.name {
  width: 100%;
  min-height: 10%;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  background-color: #3498db;
  color: white;
  border-radius: 10px;
  margin: 0;
  padding-top: 10px;
}

/* .address,
.email,
.company,
.website,
.phone {
  padding: 0 10px;
} */

.userId {display: none;}


.pto-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ptoData {
  background-color: lightgray;
  text-align: center;
  border-radius: 5px;
  margin: 2px 0;
  padding: 5px  0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-button {
  width: 40%;
}

/* .past-ptos {
  background-color: red;
}

.in-the-moment-ptos {
  background-color: green;
}

.future-ptos {
  background-color: blue;
}  */